*.txt
*.filters
Iteration1/spa.vcxproj.user
*.vcxproj
Iteration1/Debug
Iteration1/CS3201 Iteration 1.sdf
*.suo
Iteration1/CS3201 Iteration 1.vcxproj.user
Iteration1/ipch/cs3201 iteration 1-f82f37fa/cs3201 iteration 1-bc3ce1c8.ipch
*.sln
Iteration1/cs3201projtest.cpp
Iteration1/cs3201projtest.cpp